@font-face{
    font-family:'Cinzel', serif;
    src: url(../font/Cinzel-Medium.ttf);
}
.header{
    font-family: 'Cinzel', serif;
display: flex;
justify-content: space-between;
text-align: center;
background-color: rgba(245, 239, 239, 1);
}
:any-link{
    text-decoration: none;
    color:rgba(117, 70, 74, 1);
}
.navigation{
display: flex;
justify-content: space-around;
width: 844px;
text-align: center;
padding-top: 13px;
color: rgba(63, 50, 50, 1);
}
.navigationtext{ 
    display: flex;
    justify-content: space-around;
    width: 844px;
    text-align: center;
    margin-top: 14px;
    font-size: 16px;
    font-weight: 400;
}
.navigation img{
    margin-left: 33px;
    margin-right: 102px;
    width: 42px;
    height: 42px;
}
.logo{
    display: flex;
    justify-content: center;
    width: 400px;
    font-size: 22px;
    font-weight: 400;
}
.flower{
    font-weight:900;
}
.logo img{
    display: flex;
    width: 32px;
    height: 22px;
    margin-top: 20px;
    margin-left: 15px;
}
.header2{
    font-family: 'Cinzel', serif;
margin-top: 102px;
font-size: 18px;
font-weight: 700;
margin-left: 119px;
}
.mainphoto{ 
display: flex;
justify-content: space-around;
flex-wrap: wrap;
margin-left: 118px;
margin-right: 112px;

}
.boxx img{
    display:block;
    padding-right: 111px;
    padding-top: 112px;
}
.boxx:hover{
transform: scale(1.1);
transition: 1s;
}
.footer{
    background-color:rgba(245, 239, 239, 1);
    display: flex;
    justify-content: space-between;
    height: 283px;
    width: 100%;
    color: rgba(117, 70, 74, 1);
    ;
}
.gzamkvlevi{
display: flex;
flex-direction: column;
justify-content: center;
}
.contactlogo{ 
    font-size: 16px;
    margin-top: 63px;
    margin-right: 143px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo2{
    display: flex;
    justify-content: center;
    width: 400px;
    font-size: 22px;
    color:  rgba(63, 50, 50, 1);
    margin-top: 63px;
    margin-left: 00px;
    max-height: 22px;
}
.logo2 img{
    margin-left: 11px;
    margin-top: 22px;
    width: 32px;
    height: 22px;
}
.foryou{
    font-family: 'Cinzel', serif;
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
margin-top: 28px;
margin-left:-230px;
}
.socialmedia{
    font-family: 'Cinzel', serif;
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
margin-top: 68px;
margin-left:-170px; 
}
.socialmedia img{
    width: 23px;
    height: 23px;
}